body {
    background-image: url(../public/resources/Centennial-Plaza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px 100px;
    margin: 100px;
    background-position: center;
    
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

div{
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}


h1 {
    margin-bottom: 40px;
    font-family: sans-serif;

}

h2 {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
}
/*header for "volume slider"*/
h3{
    font-size: 20px;
    margin-bottom: -20px;
    color: #ffffff;
    text-align: left;
    font-weight: normal;
}


.color {
    max-width: 98%;
    background-color: #696969;
    color: #fff;
    padding: 5px 10px;
    margin: 10px auto;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.container {
    display: inline-block;           
}

.color2 {
    max-width: 98%;
    background-color: #0000FF;
    color: #fff;
    padding: 5px 10px;
    margin: 10px auto;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.switch {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 60px;
    margin: 0 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.switch input {display:none}

.slider:before {
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked + .slider {
    background-color: #0099ff;
}

input:checked + .slider:before {
    transform: translateX(50px);
}




.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    top: -4px;
    left: 2px;
    width: 10;
    height: 10;
    background: #000000;
    border-radius: 50%;
    z-index: 2;
}


#track-me ~ .hide-when-no-tracking {
    display:none;
}
#track-me:checked ~ .hide-when-no-tracking {
    display:block;
    margin-top:4em;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:500);

body {
	font-family: Raleway;
}
	
h1 {
	text-align: center;
	font-size: 34px;
	padding-top: 40px;
	color: #FFF;
}
	
p {
	color: #999;
	text-align: center;
	font-size: 15px;
	
}


button {
	margin: 10pt;
}


.tapePlayer {
	margin: auto;
	width: 20cm;
	
}


.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #8f9090;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(71, 71, 71);
  }
  
  .button:hover {background-color: #b3b3b3}
  
  .button:active {
    background-color: #e4e4e4;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }