body {
    background-image: url(../public/resources/Centennial-Plaza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 500px 100px;
    margin: 100px;
    background-position: center;
    
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


h1 {
    margin-bottom: 10px;
    margin-left: 50px;
    font-family: sans-serif;
    text-align: left;
	font-size: 20px;
	padding-top: 20px;
	color: rgb(255, 187, 0);

}

img {
    border-radius: 4px;
    padding: 5px;
    width: 70px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(230%, -100%);
  }

h2 {

    color: rgb(255, 187, 0);
	text-align: left;
    margin-top: 0cm;
    margin-bottom: 0cm;
    margin-left: 50px;
	font-size: 15px;
}

h3{
    font-size: 12px;
    padding-top: 4cm;
    padding-right: 2cm;
    margin-top: -20px;
    color: #a8a8a8;
    text-align: right;
    font-weight: normal;
}

h4{
    font-size: 12px;
    padding-top: 0.3cm;
    padding-right: 2cm;
    margin-top: -20px;
    color: #a8a8a8;
    text-align: right;
    font-weight: normal;
}

h5 {

    color: rgb(255, 187, 0);
	text-align: left;
    margin-top: 0cm;
    margin-bottom: 0.5cm;
    margin-left: 50px;
	font-size: 15px;
}

.color {
    max-width: 98%;
    background-color: #696969;
    color: #fff;
    padding: 5px 10px;
    margin: 10px auto;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.container {
    display: inline-block;           
}

.color2 {
    max-width: 98%;
    background-color: #0000FF;
    color: #fff;
    padding: 5px 10px;
    margin: 10px auto;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}



.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    top: -4px;
    left: 2px;
    width: 10;
    height: 10;
    background: #000000;
    border-radius: 50%;
    z-index: 2;
}


#track-me ~ .hide-when-no-tracking {
    display:none;
}
#track-me:checked ~ .hide-when-no-tracking {
    display:block;
    margin-top:4em;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:500);

body {
	font-family: Raleway;
}
	
p {
	color: rgb(255, 255, 255);
    font-family: Calibri;
    padding-top: 0.001cm;
    padding-right: 0.001cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
	text-align: left;
    margin-left: 50px;
	font-size: 11px;
	
}


button {
	margin: 10pt;
}



.button {
    padding: 14px 15px;
    font-size: 15px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-20%, 70%);
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(82, 150, 74);;
    border: none;
    border-radius: 8px;
    box-shadow: 0 9px rgb(71, 71, 71);
  }
  
.button:hover {background-color: #50bc4a}

.button:active {
background-color: #e4e4e4;
box-shadow: 0 5px #666;
transform: translateY(4px);
-ms-transform: translate(-50%, -50%);
transform: translate(-20%, 70%);
}

.button2 {
    padding: 15px 25px;
    font-size: 20px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 75%;
    left: 20%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-10%, -50%);
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(82, 150, 74);;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(71, 71, 71);
  }
  
.button2:hover {background-color: #b3b3b3}

.button2:active {
background-color: #e4e4e4;
box-shadow: 0 5px #666;
transform: translateY(4px);
-ms-transform: translate(-50%, -50%);
transform: translate(-10%, -50%);
}